/* 
player
*/

.player__board {
  height: calc(45%);
  width: 100%;
  margin-top: 40px;
  padding: 10px 0 0 30px;
  background-color: #292E33;
  border-radius: 5px;
  overflow-y: scroll;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.player__board::-webkit-scrollbar{
  display: none;
}

.player__above_bar {
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.player__title {
  color: #FFFFFF;
  font-size: 32px;
}

.player__main {
  display: flex;
  justify-content: space-between;
}

.player__label {
  color: #FFFFFF;
}


.player__select_days {
  margin:0 20px 0 auto;
}

.player__daily_button {
  margin-top: 20px;
}

.player__avatars {
  display: flex;
  flex-wrap: wrap;
}

.player__avatar {
  width: 120px;
}

.player__avatar_position{
  margin: 15px auto 0;
  width: 85px;
  height: 85px;
  font-size: 54px;
  color: #FFFFFF;
  border: 3px solid white;
  border-radius: 50%;
  text-align: center;
}

.player__avatar_name {
  margin: 5px auto 0;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
}

.player__avatar_state {
  position: relative;
}

.player__add_avatar {
  margin: 10px 0 0 0;
  width: 100px;
  height: 100px;
}
