/* 
LeftBar
*/
ul {
  list-style: none;  
}

.left_bar__main{
  width: 5%;
  height: 100%;
  min-width: 70px;
  background-color: #16191C;
}

.left_bar__avatar{
  margin: 50px 15px 130px;
}

.left_bar__icon_box{
  margin: 40px 15px;
  text-align: center;
}

.nav-link .unselected{
  background-color: #FFFFFF;
}



/* 
Header
*/
.analysis__header{
  display: flex;
  justify-content: space-between;
}

.analysis__title{
  font-size: 36px;
  color: #FFFFFF;
}