
.form_modal__main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 75vh;
  width: 20vw;
  /* margin-left: -30vw; */
  /* padding: 2vw 10vw; */
  background-color: rgb(80, 80, 80, 0.8);
};