.data__board_wrapper {
  height: 100%;
  width: 50%;
  border-radius: 5px;
  position: relative;
  background-color: #292E33;  
}

.data__board{
  height: calc(100% - 36px);
  margin: 0 0 0 40px;
  padding: 20px 0 0 20px;
}

.data__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}

.data__menu {
  margin-left: 30px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}

.data__box {
  height: 100%;
  padding: 7px 0 0 10px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.data__box::-webkit-scrollbar{
  display: none;
}

.data__avatar {
  display: flex;
  width: 300px;
  height: 40px;
  align-items: center;
  margin-bottom: 5px;
}

.data__avatar_position{
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #FFFFFF;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
}

.data__avatar_name {
  margin: auto 10px;
  width: 100px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
}